# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Matlab

Some of the commonly used libraries used by Data Scientists include:


1.   Numpy
2.   Pandas
3.   Matplotlib
4.   Tenserflow

| Data Science Tools |
 - - - - - - - - - -
| Google Colabs |
| Apache Spark |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
200//60 # This will convert 200 minutes to hours by diving by 60

3

###Objectives:


*   Popular languages that Data Scientists
*   Data Science Tools
*   Arithmetic expression
*   Convert minutes into hours

## Author
Uzair

NameError: name 'Uzair' is not defined